{% extends 'base.html.twig' %}

{% block title %}Modifier un rendez-vous{% endblock %}

{% block body %}
    <h1>Edit Appointments</h1>

    {{ include('appointments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('appointments_index') }}">back to list</a>

    {{ include('appointments/_delete_form.html.twig') }}
{% endblock %}
